// BACKGROUND
$COLOR_BACKGROUND_MAIN: #2e2f40;
$COLOR_BACKGROUND_SECONDARY: #3a3b50;

// TEXT
$COLOR_TEXT_MAIN: whitesmoke;
$COLOR_TEXT_SECONDARY: #1b1c26;
$COLOR_TEXT_BUTTON: #c0f3e3;

$COLOR_DIVIDER: #333546;
