<div class="list-container">
  <app-spinner *ngIf="load"></app-spinner>
  <mat-table [dataSource]="data?.clubs">

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>address</mat-header-cell>
      <mat-cell *matCellDef="let club">{{club.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
      <mat-cell *matCellDef="let club">{{club.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="trainers">
      <mat-header-cell *matHeaderCellDef>trainers</mat-header-cell>
      <mat-cell *matCellDef="let club">{{club.trainers.length}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row
      [class.selected]="row._id === selectedClub"
      [class.can-hover]="row.trainers?.length"
      (click)="row.trainers?.length && selectClub(row._id)"
      *matRowDef="let row; columns: columns;"
    ></mat-row>
  </mat-table>
  <mat-paginator
    (page)="onPaginationChange($event)"
    [pageSizeOptions]="[10, 30, 100]"
    [pageSize]="30"
    showFirstLastButtons
  ></mat-paginator>
</div>
