<h2 mat-dialog-title class="title">Логин</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="content" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center">
      <app-spinner *ngIf="load"></app-spinner>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *appControlError="form.controls.email"></mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *appControlError="form.controls.password"></mat-error>
      </mat-form-field>
      <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="submitLoginForm()">Login</button>
    </div>
  </form>
</div>
